[Desktop Entry]
Type=Application
Version=1.0
Name=CuteMarkEd
GenericName=Markdown Editor
GenericName[fr]=Éditeur de documents en Markdown
GenericName[pl]=Edytor Markdown
Comment=Editor for Markdown documents with live HTML preview
Comment[fr]=Éditeur de documents en Markdown avec prévisualisation du rendu HTML
Comment[pl]=Edytor dokumentów Markdown z podglądem HTML na żywo
Icon=cutemarked
Terminal=false
Exec=cutemarked %f
MimeType=text/markdown;
Categories=Qt;Utility;TextEditor;
