[Desktop Entry]
Type=Application
Version=1.0
Name=CuteMarkEd
GenericName=Markdown Editor
Comment=Editor for Markdown documents with live HTML preview
Icon=accessories-text-editor
Terminal=false
Exec=cutemarked %f
Categories=Qt;Utility;TextEditor;
